---
import { MyFirstIsland } from '../components/MyFirstIsland';
import { MySecondIsland } from '../components/MySecondIsland';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Islands</title>
  </head>
  <body>
    <div class="diagram">
      <div class="header app">
        <MyFirstIsland client:load />
      </div>
      <div class="sidebar">Sidebar (static HTML)</div>
      <div class="main">Static content like text, images, etc.</div>
      <div class="lorem app">
        <MySecondIsland client:visible />
      </div>
      <div class="footer">Footer (static HTML)</div>
    </div>
  </body>
</html>

<style>
  .diagram {
    display: grid;
    grid-template-areas:
      'header header header'
      'sidebar main main'
      'sidebar lorem lorem'
      'footer footer footer';
    grid-gap: 0.75rem;
    padding: 0.75rem;
    background: var(--theme-bg);
    border: 2px solid var(--theme-divider);
    overflow-x: auto;
  }
  .diagram > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: hsl(0, 0%, 96%);
    border: 2px solid hsl(0, 0%, 80%);
    color: hsl(0, 0%, 40%);
  }
  .diagram .header {
    grid-area: header;
    background: hsla(100, 60%, 50%, 0.2);
    border-color: hsla(100, 30%, 35%, 0.8);
    color: hsl(100, 30%, 35%);
  }
  .diagram .sidebar {
    grid-area: sidebar;
  }
  .diagram .main {
    grid-area: main;
    height: 320px;
  }
  .diagram .lorem {
    grid-area: lorem;
    background: hsla(320, 80%, 50%, 0.2);
    border-color: hsla(320, 30%, 35%, 0.8);
    color: hsl(320, 30%, 35%);
  }
  .diagram .adv {
    grid-area: adv;
  }
  .diagram .footer {
    grid-area: footer;
  }
</style>
